<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CompetitiveMindset</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/nprogress.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/ionicons.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="/css/swiper.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/perfect-scrollbar.css" />
    <link rel="stylesheet" type="text/css" href="/css/photoswipe.css" />
    <link rel="stylesheet" type="text/css" href="/css/default-skin/default-skin.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
    <div class="preloader">
        <div id="preloader_3"></div>
    </div>
    <!--  mobile navigation -->
    <div id="icon-burger-menu">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <nav class="navigation">
        <div><a href="/" class="content-link">Home</a></div>
        <div><a href="/programs" class="content-link">Programs</a></div>
        <div><a href="/mentor" class="content-link">Mentors</a></div>
        <div><a href="/photos" class="content-link">Photos</a></div>
        <div><a href="/contact" class="content-link">Register</a></div>
    </nav>
    {{{body}}}
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/nprogress.js"></script>
    <script src="/js/perfect-scrollbar.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/swiper.min.js"></script>
    <script src="/js/tilt.jquery.min.js"></script>
    <script src="/js/imagesloaded.pkgd.min.js"></script>
    <script src="/js/jquery.shuffle.min.js"></script>
    <script src="/js/photoswipe.min.js"></script>
    <script src="/js/photoswipe-ui-default.js"></script>
    <script src="/js/validator.min.js"></script>
    <script src="/js/form-scripts.js"></script>
    <script src="/js/circle-progress.min.js"></script>
    <script src="/js/pjax.min.js"></script>
    <script src="/js/share.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>
