<div class="bg-main">
</div>
<!-- pjax container -->
<div id="pjax-container">
    <div class="home-content p_scroll">
        <!-- LOGO -->
        <!-- <div class="logo">
                <a href="home.html"><img src="assets/img/logo.svg" alt="logo"></a>
            </div> -->
        <!-- HOME PAGE-->
        <div class="home-page">
            <div class="home-img">
                <div class="intro-text ">
                    <h1 class="left-text"><span style="color: #00FFFF;">mind</span><span>set</span></h1>
                    <div class="header-block-txt">
                        <h5>Don’t ask if your dreams are crazy, ask if they are crazy enough</h5>
                        <p>MINDSET is a mentoring program dedicated to helping young athletes develop the mental and physical habits necessary to fulfill their potential, on and off the playing surface.</p>
                        <a href="/programs" class="content-link button page-scroll btn-1 btn-1c">Learn More</a>
                        <a href="/contact" class="content-link button page-scroll btn-1 btn-1c">Contact</a>
                    </div>
                </div>
            </div>
            <!-- /.home-img -->
        </div>
        
        <!-- /.home-page -->
    </div>
    <!-- /.home-content -->
</div>