<!-- main background -->
    <div class="bg-main">
        {{!-- <div class="news-bg">
        </div> --}}
    </div>
    <!-- pjax container -->
    <div id="pjax-container">
        <div class="page-content p_scroll">
            <div class="page-bg">
                <!-- TITLE PAGE -->
                <header class="header-pages">
                    <div class="container">
                        <div class="row">
                            <div class="header-page-content">
                                <h2>Mentors</h2>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- NEWS CONTENT -->
                <div class="container animation-content news-content">
                    <div class="row">
                        <!-- NEWS IMG -->
                        <div class="col-md-6">
                            <img class="img-fluid" src="img/news-img/pat.jpg" alt="">
                        </div>
                        <!-- NEWS TEXT -->
                        <div class="col-md-6 news-post">
                            <h4 class="caption-400">Pat Connaughton</h4>
                            <h5>Founder & Head Mentor</h5>
                            <p>Pat is a shooting guard in the National Basketball Association (NBA), currently playing for the Milwaukee Bucks. He is also a right-handed pitcher in the Baltimore Orioles' organization. He is a graduate of the University of Notre Dame, Mendoza College of Business. <br><br> Pat juggled playing basketball and baseball for the Fighting Irish during his four years there, while managing Notre Dame’s rigorous academic standards as well. <br><br> He was selected by the Orioles in the fourth round of the 2014 MLB Draft, 121st overall, and played a summer of minor league baseball before returning to campus to get his degree and finish his basketball career for the Irish. The Brooklyn Nets selected him in the second round of the 2015 NBA Draft, 41st overall, and traded him to the Portland Trail Blazers on draft night.</p>
                        </div>
                        <!-- /.news-post -->
                    </div>
                    <div class="row">
                        <div class="col-md-8 about-info offset-md-2">
                            <blockquote class="blockquote" style="    margin-top: 110px;">
                              <p class="mb-0" style="font-style: italic;">"In my 15 years here, no one has been more responsible than Pat Connaughton. He's an unbelievable ambassador for us and has shown tremendous loyalty."</p>
                              <p class="blockquote-footer">Mike Brey, Notre Dame Head Basketball Coach</p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 about-info offset-md-2">
                            <blockquote class="blockquote" style="    margin-top: 110px;">
                              <p class="mb-0" style="font-style: italic;">"He's not common—kind of like Jeff and [NFL quarterback] Russell Wilson. Not a lot of guys like him come around. He's just wired differently.”</p>
                              <p class="blockquote-footer">Sam Samardzija, MLB Agent</p>
                            </blockquote>
                        </div>
                    </div>
                    <!-- /.row -->
                    <!-- post-2 -->
                    <div class="row post-2">
                        <div class="col-md-12" style="text-align: center;">
                            <h4 class="caption-400">Other Mentors</h4>
                        </div>                  
                    </div>
                    <div class="row post-3" style="margin-top: 25px;">
                        <!-- NEWS IMG -->
{{!--                         <div class="col-md-3">
                            <img class="img-fluid" src="img/news-img/blesch.jpg" alt="" style="max-height: 250px;">
                        </div> --}}
                        <!-- NEWS TEXT -->
                        <div class="col-md-8 news-post offset-md-2">
                            {{!-- <h5 class="">Brendan Lesch</h5> --}}
                            <p>Other mentors are occasionally brought in throughout the course of a program
when there is added value and if/when applicable, appropriate, & available. They
include other professional athletes, college athletes, and coaches.</p>
                        </div>
                        <!-- /.news-post -->

                    </div>

                </div>
                <!-- /.container -->
            </div>
            <!-- /.page-bg -->
        </div>
        <!-- /.page-content -->
    </div>