<!-- main background -->
    <div class="bg-main">
        {{!-- <div class="news-bg">
        </div> --}}
    </div>
    <!-- pjax container -->
    <div id="pjax-container">
        <div class="page-content p_scroll">
            <div class="page-bg">
                <!-- TITLE PAGE -->
                <header class="header-pages">
                    <div class="container">
                        <div class="row">
                            <div class="header-page-content">
                                <h2>Mentors</h2>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- NEWS CONTENT -->
                <div class="container animation-content news-content">
                    <div class="row">
                        <!-- NEWS IMG -->
                        <div class="col-md-6">
                            <img class="img-fluid" src="img/news-img/pat.jpg" alt="">
                        </div>
                        <!-- NEWS TEXT -->
                        <div class="col-md-6 news-post">
                            <h4 class="caption-400">Pat Connaughton</h4>
                            <h5>Founder & Head Mentor</h5>
                            <p>Pat is a professional basketball player who plays for the Milwaukee Bucks of the National Basketball Association (NBA), where he plays as a shooting guard or small forward, and baseball player for the Baltimore Orioles' organization in Minor League Baseball. He is a graduate of the University of Notre Dame's Mendoza College of Business<br><br>Connaughton previously played for the Notre Dame Fighting Irish baseball and men's basketball teams. He was selected by the Orioles in the fourth round of the 2014 MLB Draft. The Brooklyn Nets selected him in the second round of the 2015 NBA Draft and traded him to the Portland Trail Blazers.</p>
                        </div>
                        <!-- /.news-post -->
                    </div>
                    <!-- /.row -->
                    <!-- post-2 -->
                    <div class="row post-2">
                        <div class="col-md-12">
                            <h4 class="caption-400">Other Mentors</h4>
                        </div>                  
                    </div>
                    <div class="row post-3">
                        <!-- NEWS IMG -->
                        <div class="col-md-3">
                            <img class="img-fluid" src="img/news-img/blesch.jpg" alt="" style="max-height: 250px;">
                        </div>
                        <!-- NEWS TEXT -->
                        <div class="col-md-8 news-post">
                            <h5 class="">Brendan Lesch</h5>
                            <p>Originally from Westport, CT, Brendan attended the University of Notre Dame on a soccer scholarship in 2011. Despite suffering two torn ACL tendons and breaking his leg during his college career, Brendan was a three-year letter-winner for the Irish and winner of the 2013 Division 1 National Championship. Brendan completed his undergraduate finance degree in three years, before being accepted to the Mendoza College of Business One-Year Accelerated MBA program during his fourth and final year on the men's soccer team.</p><p>As the youngest member of the graduating class, Brendan graduated cum laude from the MBA program with a concentration in investments. During his time in South Bend, Brendan was also a Bengal Bouts boxing champion. After graduating, Brendan spent two seasons playing soccer overseas, in both New Zealand and Chile, before returning to the United States to begin his business career.</p><p>Brendan is passionate about helping young athletes navigate the recruiting process and develop the CompetitiveMindset and mental toughness necessary to overcome adversity both on and of the field.</p>
                        </div>
                        <!-- /.news-post -->

                    </div>

                </div>
                <!-- /.container -->
            </div>
            <!-- /.page-bg -->
        </div>
        <!-- /.page-content -->
    </div>