<div class="preloader">
        <div id="preloader_3"></div>
    </div>
<!-- main background -->
    <div class="bg-main">
        {{!-- <div class="category-bg"></div> --}}
    </div>
    <!-- pjax container -->
    <div id="">
        <div class="page-content p_scroll">
            <div class="page-bg">
                <!-- TIITLE PAGE -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <header class="header-pages">
                                <div class="header-page-content">
                                    <h2>Photo Gallery</h2>
                                </div>
                            </header>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
                <!-- PORTFOLIO SECTION  -->
                <div class="container width-container">
                    <div id="gallery" class="js-grid my-shuffle gallery animation-content">
                        {{!-- <figure class="js-item column-3">
                            <div class="aspect aspect--9x80">
                                <div class="aspect__inner">
                                    <a class='link-big-img works' href="assets/img/portfolio/mountains/big-img/1.jpg" data-caption="Sunset in the wheat field<br><em class='text-muted'>© Jordan McQueen</em>" data-width="864" data-height="1080">
                                      <img src="assets/img/portfolio/mountains/img-1.jpg" alt="" />
                                    </a>
                                </div>
                            </div>
                        </figure>
                        <figure class="js-item column-3">
                            <div class="aspect aspect--16x9">
                                <div class="aspect__inner">
                                    <a class='link-big-img works' href="assets/img/portfolio/mountains/big-img/2.jpg" data-caption="Gimalai<br><em class='text-muted'>© Jordan McQueen</em>" data-width="1920" data-height="1080">
                                    <img src="assets/img/portfolio/mountains/img-2.jpg" alt="" />
                                  </a>
                                </div>
                            </div>
                        </figure>
                        <figure class="js-item column-3">
                            <div class="aspect aspect--16x9">
                                <div class="aspect__inner">
                                    <a class='link-big-img works' href="assets/img/portfolio/mountains/big-img/3.jpg" data-caption="Sunset in the wheat field<br><em class='text-muted'>© Jordan McQueen</em>" data-width="1920" data-height="1080">
                                      <img src="assets/img/portfolio/mountains/img-3.jpg" alt="" />
                                    </a>
                                </div>
                            </div>
                        </figure>
                        <figure class="js-item column-3">
                            <div class="aspect aspect--9x80">
                                <div class="aspect__inner">
                                    <a class='link-big-img works' href="assets/img/portfolio/mountains/big-img/4.jpg" data-caption="Sunset in the wheat field<br><em class='text-muted'>© Jordan McQueen</em>" data-width="864" data-height="1080">
                                      <img src="assets/img/portfolio/mountains/img-4.jpg" alt="" />
                                    </a>
                                </div>
                            </div>
                        </figure>
                        <figure class="js-item column-3">
                            <div class="aspect aspect--16x9">
                                <div class="aspect__inner">
                                    <a class='link-big-img works' href="assets/img/portfolio/mountains/big-img/5.jpg" data-caption="Sunset in the wheat field<br><em class='text-muted'>© Jordan McQueen</em>" data-width="720" data-height="1080">
                                      <img src="assets/img/portfolio/mountains/img-5.jpg" alt="" />
                                    </a>
                                </div>
                            </div>
                        </figure>
                        <figure class="js-item column-3">
                            <div class="aspect aspect--9x80">
                                <div class="aspect__inner">
                                    <a class='link-big-img works' href="assets/img/portfolio/mountains/big-img/6.jpg" data-caption="Sunset in the wheat field<br><em class='text-muted'>© Jordan McQueen</em>" data-width="864" data-height="1080">
                                      <img src="assets/img/portfolio/mountains/img-6.jpg" alt="" />
                                    </a>
                                </div>
                            </div>
                        </figure>
                        <figure class="js-item column-3">
                            <div class="aspect aspect--9x80">
                                <div class="aspect__inner">
                                    <a class='link-big-img works' href="assets/img/portfolio/mountains/big-img/7.jpg" data-caption="Sunset in the wheat field<br><em class='text-muted'>© Jordan McQueen</em>" data-width="864" data-height="1080">
                                      <img src="assets/img/portfolio/mountains/img-7.jpg" alt="" />
                                    </a>
                                </div>
                            </div>
                        </figure>
                        <figure class="js-item column-3">
                            <div class="aspect aspect--16x9">
                                <div class="aspect__inner">
                                    <a class='link-big-img works' href="assets/img/portfolio/mountains/big-img/8.jpg" data-caption="Sunset in the wheat field<br><em class='text-muted'>© Jordan McQueen</em>" data-width="1920" data-height="1080">
                                      <img src="assets/img/portfolio/mountains/img-8.jpg" alt="" />
                                    </a>
                                </div>
                            </div>
                        </figure> --}}
                        <!-- portfolio-sizer-element -->
                        <div class="column my-sizer-element"></div>
                    </div>
                    <!-- #gallery -->
                    <!-- BUTTON BACK -->
                    <div class="button-portfolio-back">
                        <a href="/contact" class="content-link button page-scrol btn-1 btn-1c">Register Today</a>
                    </div>
                </div>
                <!-- /.container -->
                <!-- =================================
                     ==== NOT TO DELETE THIS CODE !!! ===
                     ================================ -->
                <!-- Root element of PhotoSwipe. Must have class pswp. -->
                <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
                    <!-- Background of PhotoSwipe. 
                                   It's a separate element as animating opacity is faster than rgba(). -->
                    <div class="pswp__bg"></div>
                    <!-- Slides wrapper with overflow:hidden. -->
                    <div class="pswp__scroll-wrap">
                        <!-- Container that holds slides. 
                                      PhotoSwipe keeps only 3 of them in the DOM to save memory.
                                      Don't modify these 3 pswp__item elements, data is added later on. -->
                        <div class="pswp__container">
                            <div class="pswp__item"></div>
                            <div class="pswp__item"></div>
                            <div class="pswp__item"></div>
                        </div>
                        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
                        <div class="pswp__ui pswp__ui--hidden">
                            <div class="pswp__top-bar">
                                <!--  Controls are self-explanatory. Order can be changed. -->
                                <div class="pswp__counter"></div>
                                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                                <button class="pswp__button pswp__button--share" title="Share"></button>
                                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                                <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                                <!-- element will get class pswp__preloader--active when preloader is running -->
                                <div class="pswp__preloader">
                                    <div class="pswp__preloader__icn">
                                        <div class="pswp__preloader__cut">
                                            <div class="pswp__preloader__donut"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                                <div class="pswp__share-tooltip"></div>
                            </div>
                            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                            </button>
                            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                            </button>
                            <div class="pswp__caption">
                                <div class="pswp__caption__center"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- !!! ================================================== -->
            </div>
            <!--/.page-bg-->
        </div>
        <!-- /.page-content -->
    </div>