<!-- main background -->
    <div class="bg-main">
        <div class="about-bg">
        </div>
    </div>
    <!-- pjax container -->
    <div id="pjax-container">
        <div class="page-content p_scroll">
            <div class="page-bg">
{{!--                 <header class="header-pages">
                    <div class="container">
                        <div class="row">
                            <div class="header-page-content">
                                <h2>Overview</h2>
                            </div>
                        </div>
                    </div>
                </header> --}}
                <div class="container animation-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="personal-section">
                                <h4 class="caption-400">About</h4>
                                <p>CompetitiveMindset is a mentoring program dedicated to helping young athletes develop the mental and physical habits necessary to fulfill their potential, on and off the playing surface.
                                <br><br>
                                Run by Pat Connaughton, CompetitiveMindset was created to give student athletes the opportunity to have a professional athlete as their mentor. There are countless young athletes who dream of playing a pro sport as they grow up, Pat is one of a select few who figured out a way to achieve his dream of being drafted to play two professional sports. Young athletes will be exposed to the hard work & dedication it takes to achieve a dream of that magnitude, while working to develop their own work ethic and mental toughness. This work ethic and mental toughness will be the foundation needed as each athlete sets out to achieve their own goals & aspirations. Through group video chats, individual phone calls, or in person sit downs, each athlete will have direct contact with Pat. They will be able to learn from his experiences, ask questions of their own, receive advice & guidance and develop a relationship with a pro athlete who wants to help them succeed.
                                <br><br>
                                Because this is the only program of its kind, connecting young athletes with a current pro athlete to learn from, it sells out very quickly so be sure to <a href="/contact">sign-up today.</a></p>
                            </div>
                        </div>
                        <div class="col-md-8 about-info offset-md-2">
                            <blockquote class="blockquote" style="    margin-top: 110px;">
                              <p class="mb-0" style="font-style: italic;">I created CompetitveMindset off an idea I wish I had access to growing up. I wish I had a pro athlete willing to mentor me on the hard work, dedication and mental toughness it takes to succeed at the highest level. Developing those kinds of habits at a younger age would have given me a leg up on my competition. The work ethic and values developed within CompetitiveMindset translate to all aspects of life, not just professional sports.</p>
                              <p class="blockquote-footer">Pat Connaughton</p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="about-services-section" style="margin-bottom: 150px;">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="caption-400">Program Options</h4>
                                <p>Each option has LIMITED AVAILABILITY per month & will be determined on a first come-first serve basis</p>
                            </div>
                        </div>
                        <div class="about-services-section-content">
                            <div class="row">
                                <div class="col-md-12 block-1">
                                    <h5 class="caption-500">Tier 1 - $250</h5>
                                    <dl class="row">
                                      <dd class="col-sm-8 offset-sm-1">
                                        Weekly group video chats for 1 month (4 total, 30 min each)
                                        <p>Discussions around work ethic, mental toughness, general information on experiences that led Pat to where he is today</p>
                                        <p>Questions & Answers centered around teaching the student-athletes the hard work and dedication it takes to achieve your goals and aspirations</p>
                                      </dd>
                                    </dl>
                                    <dl class="row">
                                      <dd class="col-sm-8 offset-sm-1">
                                        Weekly tasks to implement discussion topics & be discussed the following week
                                      </dd>
                                    </dl>
                                </div>
                                <div class="col-md-12 block-2">
                                    <h5 class="caption-500">Tier 2 - $2000</h5>
                                    <dl class="row">
                                      <dd class="col-sm-8 offset-sm-1">
                                        Customized, Individual Mentoring for 1 month
                                      </dd>
                                      <dd class="col-sm-8 offset-sm-1">
                                        Individual weekly phone calls
                                      </dd>
                                      <dd class="col-sm-8 offset-sm-1">
                                        Deep dive into the student-athlete’s goals and aspirations
                                        <p>Where do you stand today? Where do you want to be tomorrow?… 6 months from now?… 2 years?</p>
                                      </dd>
                                      <dd class="col-sm-8 offset-sm-1">
                                        Develop an action plan of the upcoming steps needed to put the student athlete in a position to achieve their goals
                                        <p> Weekly tasks simulating the work ethic & mental toughness that will be needed in the student-athlete’s pursuit of their aspirations</p>
                                      </dd>
                                      <dd class="col-sm-8 offset-sm-1">
                                        1 Guest speaker and/or guest video memo
                                      </dd>
                                    </dl>
                                </div>
                                <div class="col-md-12 block-2">
                                    <h5 class="caption-500">Tier 3 - <a href="/contact">Call/Email</a> for pricing</h5>
                                    <dl class="row">
                                      <dd class="col-sm-8 offset-sm-1">
                                        6 Months
                                      </dd>
                                      <dd class="col-sm-8 offset-sm-1">
                                        Deep dive into student-athlete’s goals & aspirations
                                      </dd>
                                      <dd class="col-sm-8 offset-sm-1">
                                        1 on 1 work with the athlete weekly, working to achieve their goals and aspirations
                                        <p>Visual simulation of the hard work and dedication needed to be a pro athlete (how that can translate to success in everyday life)</p>
                                      </dd>
                                      <dd class="col-sm-8 offset-sm-1">
                                        Use of resources and network (where applicable and appropriate) to help student athlete gain added advantage
                                        <p>Strength & conditioning regimen</p>
                                        <p>Nutritional plan (if needed)</p>
                                      </dd>
                                      <dd class="col-sm-8 offset-sm-1">
                                        Attendance of an NBA game for behind the scenes experience
                                      </dd>
                                      <dd class="col-sm-8 offset-sm-1">
                                        A workout with Pat (if possible)
                                      </dd>
                                    </dl>
                                </div>
                                <div class="col-md-12 block-2">
                                    <h5 class="caption-500">Immersive Training</h5>
                                    <dl class="row">
                                      <dd class="col-sm-8 offset-sm-1">
                                        Offseason training is a staple of development for any athlete who wants to maximize their potential.
                                      </dd>
                                      <dd class="col-sm-8 offset-sm-1">
                                        Immersive Training is Pat’s way of providing elite level athletes a chance to experience the type of work ethic it takes to become a professional athlete…twice.
                                      </dd>
                                      <dd class="col-sm-8 offset-sm-1">
                                        Extremely limited, hands on, side by side work outs. <a href="/contact">Email for details</a>
                                      </dd>
                                
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>