<!-- main background -->
    <div class="bg-main">
        <div class="about-bg">
        </div>
    </div>
    <!-- pjax container -->
    <div id="pjax-container">
        <div class="page-content p_scroll">
            <div class="page-bg">
                <header class="header-pages">
                    <div class="container">
                        <div class="row">
                            <div class="header-page-content">
                                <h2>Program Overview</h2>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="container animation-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="personal-section">
                                <h4 class="caption-400">About</h4>
                                <p>CompetitiveMindset is a four-week mentoring program dedicated to helping young athletes develop the mental and physical habits necessary to compete at the highest level, on and off the playing surface, as well as navigate the recruiting process.
                                <br><br>
                                Led by Pat Connaughton, the CompetitiveMindset program is highly personalized to the needs of each individual client. Through weekly phone calls and daily email conversation, each athlete will work directly with Pat to create a plan that moves them closer to achieving their athletic potential. Through a mix of both physical challenges and introspective exercises, the program is both mentally and physically draining. 
                                <br><br>
                                Because Pat works with each client themselves, the program is also highly selective. If you truly want to maximize your athletic potential, however, and are willing to learn how to sacrifice in order to make it happen, <a href="/contact">apply today.</a></p>
                            </div>
                        </div>
                        <div class="col-md-8 about-info offset-md-2">
                            <blockquote class="blockquote" style="    margin-top: 110px;">
                              <p class="mb-0" style="font-style: italic;">This program is very high-touch and highly personalized to the needs of each individual client. Despite the above program outline, if there are other topics that a client would like to focus on, I am more than happy to accommodate – the goal is to help you maximize your athletic potential, and I will do whatever I can to help you achieve that goal!</p>
                              <p class="blockquote-footer">Pat Connaughton</p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="about-services-section" style="margin-bottom: 150px;">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="caption-400">Program Breakdown</h4>
                            </div>
                        </div>
                        <div class="about-services-section-content">
                            <div class="row">
                                <div class="col-md-12 block-1">
                                    <h5 class="caption-500">Week 1</h5>
                                    <dl class="row">
                                      <dt class="col-sm-1 offset-sm-2">Day 1</dt>
                                      <dd class="col-sm-9">
                                        30-minute introductory phone call
                                        <p>Discussion: Current training habits, mental habits, interests, and goals</p>
                                        <p>First 15 Minutes: Parent(s) Only (if applicable)</p>
                                        <p>Following 15 Minutes: Athlete Only</p>
                                      </dd>
                                    </dl>
                                    <dl class="row">
                                      <dt class="col-sm-1 offset-sm-2">Day 3</dt>
                                      <dd class="col-sm-9">
                                        Personalized Action Plan delivered to Athlete based on Day 1 discussion
                                        <p>Personal Challenge for Week 1</p>
                                        <p>Book sent - to be completed during 4 Weeks</p>
                                        <p>Initial Assessment</p>
                                      </dd>
                                    </dl>
                                </div>
                                <div class="col-md-12 block-2">
                                    <h5 class="caption-500">Week 2-3</h5>
                                    <dl class="row">
                                      <dd class="col-sm-8 offset-sm-2">
                                        30-minute phone call each Sunday (Athlete only)
                                        <p>Discussions – topic varies by week; includes training habits, self-marketing, visualization, off-field habits, etc.</p>
                                        <p>Personal Challenges – can be physical or mental; designed to bring out inner strength and confidence</p>
                                        <p>Weeks will center around – Overcoming Adversity, Growth Mindset vs Fixed Mindset, Attacking Life’s Challenges, Accountability, Applying the CompetitveMindset</p>
                                      </dd>
                                    </dl>
                                </div>
                                <div class="col-md-12 block-3">
                                    <h5 class="caption-500">Week 4</h5>
                                    <dl class="row">
                                        <dd class="col-sm-8 offset-sm-2">
                                            30-minute phone call: Parents & Athlete (same set up as initial call)
                                            <p>Discussion: Maintaining Discipline / Planning for the Future</p>
                                            <p>Final Personal Challenge</p>
                                            <p>Final Assessment</p>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>