<!-- main background -->
<div class="bg-main">
</div>
<!-- pjax container -->
<div id="pjax-container">
    <div class="page-content p_scroll">
        <div class="page-bg">
            <div class="container animation-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="personal-section text-center">
                            <h4 class="caption-400">Thank You.</h4>
                            <p>Your message has been successfully sent. We will contact you soon.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>